/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 1rem "Nunito", sans-serif;
    min-height: 100vh;
}

header {
    top: 0;
    margin: 8px;
}

footer {
    bottom: 0;
}

.small-p {
    opacity: 0.8;
    font-size: 12px;
}
/*  */

/* Header */
h1 {
    padding: 2px;
}

.phone-img {
    width: 40px;
    height: 40px;
}

.title {
    display: flex;
    justify-content: space-evenly;
}

nav {
    background-color: #fff;
    color: #000;
    padding: 15px;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
}

.buy-now {
    display: block;
    margin: auto;
    padding: 5px;
    width: 25%;
    background-color: white;
    color: #008CBA;
    border: 2px solid #008CBA;
    border-radius: 4px;
}

.buy-now:hover {
    cursor: pointer;
    background-color: #9dd9ed;
    opacity: 0.8;
}
/*  */

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

/* Get App form */
#get-app-form p,h2 {
    color: white;
    text-align: center;
}

#get-app-form h2 {
    padding: 15px;
}

.background-image {
    background-image: url("../Image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 39px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    opacity: 0.8;
}
/*  */

/* Rating form */
#rating-form {
    display: flex;
    line-height: 1.4rem;
    text-align: center;
}
/*  */

/* Activity goals */
#activity-goals {
    background-color: floralwhite;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    text-align: center;
}

#activity-goals h3 {
    margin-bottom: 10px;
}

#activity-goals img {
    width: 300px;
}
/*  */

/* About App */
#about-application-card .card-title {
    text-align: center;
    margin: 10px;
    line-height: 1.5rem;
}

#about-application-card .card-body {
    display: flex;
    background-color: floralwhite;
    margin-bottom: 10px;
}

#about-application-card .card-body img {
    width: 150px;
    height: 150px;
}

#about-application-card .card-body .card-text {
    margin: 15px;
}

/* Look at App */
#look-at-application-form .card-title {
    text-align: center;
    margin-bottom: 10px;
}

#look-at-application-form .card-body {
    display: flex;
    flex-direction: column;
}

#look-at-application-form .card-body img {
    width: 100%;
    margin-bottom: 10px;
}
/*  */

/* Start using app card */
#get-access-app .card-title {
    text-align: center;
    margin-bottom: 20px;
}

#get-access-app .card-title h3 {
    margin-bottom: 10px;
}

#get-access-app .get-access-app-cards {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#get-access-app .card-body {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    width: 100%;
    margin: auto;
    text-align: center;
    line-height: 2.5rem;
}

#get-access-app .card-body .card-text {
    display: flex;
    justify-content: center;
    gap: 10px;
    opacity: 0.8;
}

#get-access-app .card-body .card-text .card-image {
    width: 20px;
    height: 20px;
    margin: auto 0;
}

#get-access-app .card-body .card-button {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: rgb(19, 19, 171);
    padding: 10px;
    margin: 10px 0;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 4px;
    opacity: 0.8;
}

#get-access-app .card-body .card-button:hover {
    cursor: pointer;
    background-color: rgb(167, 167, 230);
    opacity: 0.6;
}

/*  */

/* Feedback Section */
#feedback {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 1.5rem;
}

#feedback p {
    opacity: 0.6;
}

#feedback .feedback-user {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

#feedback .feedback-image {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border-radius: 50%;
}

#feedback .icon {
    opacity: 0.4;
}
/*  */

/* Our Team */
#our-team {
    padding: 15px;
}

#our-team .info {
    margin-bottom: 10px;
}

#our-team .parg {
    display: flex;
    gap: 1;
    text-wrap: balance;
}

#our-team .team-cards {
    display: flex;
    flex-wrap: wrap;
}

#our-team .team-cards .card-body {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 70px 10px;
    width: 44%;
}

#our-team .team-cards .card-body img {
    position: relative;
    bottom: 60px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#our-team .team-cards .card-body .card-items {
    position: relative;
    bottom: 50px;
}

#our-team .team-cards .card-body .card-items p {
    margin: 15px 0;
    opacity: 0.5;
}

#our-team .team-cards .card-body .card-items a {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px 0;
}
/*  */

/* User Opinion */
#user-opinion {
    text-align: center;
    padding: 10px;
}

#user-opinion p {
    opacity: 0.5;
    margin-bottom: 10px;
}

#user-opinion h3 {
    margin-bottom: 10px;
}

#user-opinion .message-card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
    padding: 25px;
}

#user-opinion .message-card .user-info {
    display: flex;
    gap: 20px;
}

#user-opinion .message-card .message-form {
    margin-bottom: 20px;
}

#user-opinion .message-card .message {
    padding: 30px;
}

#user-opinion .message-card a {
    padding: 10px;
    background-color: rgb(15, 68, 194);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#app-form {
    text-align: center;
    margin-bottom: 10px;
}

#app-form p {
    opacity: 0.5;
    margin-bottom: 10px;
}

#app-form h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#app-form .app-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

#app-form .app-buttons a {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#app-form .app-buttons .apple-button {
    background-color: white;
    border: 2px solid #4CAF50;
    color: #4CAF50;
}

#app-form .app-buttons .android-button {
    background-color: rgb(48, 189, 5);
    color: white;
}

#app-form img {
    width: 150px;
    margin-bottom: 15px;
}
/*  */

/* Footer */
footer {
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: black;
    text-align: center;
    padding: 20px;
}
/*  */
@media screen and (min-width: 576px) {
    header {
        display: flex;
        gap: 0;
    }

    nav {
        margin-right: 15px;
    }

    nav a {
        padding: 10px;
    }

    #get-app-form {
        width: 100%;
    }

    .get-app {
        display: flex;
        justify-content: center;
        gap: 15px;
    }
    
    input[type=text] {
        width: auto
    }
      
    input[type=submit] {
        width: auto;
        padding: 14px 35px;
    }

    #rating-form {
        width: 100%;
        justify-content: space-evenly;
    }

    #activity-goals {
        flex-direction: row;
        text-align: left;
    }
    
    #activity-goals img {
        width: 50%;
    }

    #about-application-card .card-container {
        display: flex;
        flex-wrap: wrap;
    }
    
    #about-application-card .card-body {
        text-wrap: balance;
        width: 46%;
        margin-left: 20px;
    }

    #about-application-card .card-body img {
        width: 75px;
    }

    #look-at-application-form .card-body { 
        flex-flow: row wrap;
    }

    #look-at-application-form .card-body img { 
        width: 29%;
        margin: 12px;
    }

    
    #get-access-app .get-access-app-cards { 
        flex-direction: row;
    }

    #get-access-app .get-access-app-cards .card-body { 
        margin: 0;
    }
    
    #our-team .team-cards .card-body {
        margin: 90px 14px;
        width: 28%;
    }

    #user-opinion .message-card .email {
        width: 100%;
    }

    #user-opinion .message-card .message {
        width: 100%;
        padding: 30px;
    }
  }

@media screen and (min-width: 768px) {
    header {
        display: flex;
        gap: 12%;
    }

    nav a {
        padding: 5px;
    }
    
    #get-app-form {
        width: 100%;
    }

    .get-app {
        display: flex;
        justify-content: center;
        gap: 15px;
    }
    
    input[type=text] {
        width: auto
    }
      
    input[type=submit] {
        width: auto;
        padding: 14px 35px;
    }

    #rating-form {
        width: 100%;
        justify-content: space-evenly;
    }

    #activity-goals {
        flex-direction: row;
        gap: 0;
        text-align: left;
    }
    
    #activity-goals img {
        width: 50%;
    }

    #about-application-card .card-container {
        display: flex;
        flex-wrap: wrap;
    }
    
    #about-application-card .card-body {
        text-wrap: balance;
        width: 30%;
        margin-left: 10px;
    }

    #about-application-card .card-body img {
        width: 75px;
    }

    #look-at-application-form .card-body { 
        flex-flow: row wrap;
    }

    #look-at-application-form .card-body img { 
        width: 30%;
        margin: 10px;
    }

    
    #get-access-app .get-access-app-cards { 
        flex-direction: row;
    }
    
    #our-team .team-cards .card-body {
        margin: 90px 14px;
        width: 21%;
    }

    #app-form h3 {
        width: 99%;
    }
  }